* {
    padding: 0;
    margin: 0;
}

html {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(https://pbs.twimg.com/media/Eqr2I3cW4AAwT9_.jpg);
}

.flx-row {
    display: flex;
    justify-content: space-evenly;
}

.flx-row > div {
    padding: 0.4in;
}

.flx-col {
    display: flex;
    flex-direction: column;
    justify-content: auto;
}

header {
    background-color: yellow;
    color: black;
    font-weight: 600;
}

section {
    margin: 0.5in auto;
    
    max-width: 4in;
    min-width: 3in;
    max-height: 4in;
    background-color: blanchedalmond;
    font-weight: auto;
    padding: 0.1in;
    box-shadow: 5px 10px 8px yellow;
}

footer {
    position: fixed;
    background-color: yellow;
    height: auto;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }